/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ===================================================================================== */

body {
	margin:0;
	padding:0;
	background-image:url(../images/layout/bg_clouds.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	background-color:#FEFEFE;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
}

body.cbase {
	background-image:url(../images/layout/bg_cbase.jpg);
}

body.doodle {
	background-image:url(../images/layout/bg_doodle.jpg);
}

strong {
	font-weight:700;
}

.clearer {
	clear:both;
}

#gdd2011-page {
	width:930px;
	margin:0 auto;
}

#gdd2011-headArea {
	width:100%;	
	background-color:rgba(255, 255, 255, 0.8);
	height:89px; 
	position:fixed;
	background-image:url(../images/layout/line.png);
	background-position:0 86px;
	background-repeat:repeat-x;
	z-index:1;
	top:0;
	left:0;
}

#gdd2011-headAreaInner {
	width:930px;
	margin:0 auto;	
}

#gdd2011-gtugLogoArea {
	background-image:url(../images/layout/gtug_logo.png);
	background-repeat:no-repeat;
	background-position:0 0;
	height:80px;
	float:left;
}

#gdd2011-gtugLogoArea h1 {
	margin:0;
	padding:34px 0 0 0;
	font-size:14px;
	font-weight:700;
}

#gdd2011-gtugLogoArea a {
	padding:34px 0 30px 150px;
	color:#0065E7;
	text-decoration:none;
}

#gdd2011-navigationArea {
	float:right;	
	display:block;
	z-index:999;
}

#gdd2011-navigationArea ul {
	margin:35px 0 0 0;
}

#gdd2011-navigationArea ul li {
	float:left;
	font-size:14px;
	font-weight:bold;
	padding:0 21px 0 0;
}

#gdd2011-navigationArea ul li a {
	color:#0054AC;
	text-decoration:none;
	border:2px transparent solid;
	padding:3px 6px;
}

#gdd2011-navigationArea ul li a:hover {
	color:#FFCB00;
	background-color:rgba(255, 255, 255, 0.7);
	border:2px #FFFFFF solid;
	border-radius:7px;
}

#gdd2011-soldOut {
	background-image:url(../images/layout/soldout.png);
	background-repeat:no-repeat;
	background-position:22px 89px;
	width:930px;
	left:50%;
	margin-left:-465px;
	height:122px;
	position:fixed;
	top:0;
}

#gdd2011-footerArea {
	font-size:12px;
	background-image:url(../images/layout/line.png);
	background-position:0 0;
	background-repeat:repeat-x;
	margin:0 0 50px 0;
	width:100%;
	padding:20px 0 0 0;
}

#gdd2011-footerAreaInner {
	width:930px;
	margin:0 auto;
	color:#9C9A9C;
}

#gdd2011-footerAreaInner-content {
	float:left;
}

#gdd2011-footerAreaInner-content a {
	color:#104660;
	text-decoration:none;
}

#gdd2011-footerAreaInner-content a:hover {
	text-decoration:underline;
}

#gdd2011-plusone {
	float:right;
	width:45px;
	padding:22px 0 0 25px;
	
}

#gdd2011-contentArea {
	margin:150px 0 50px 0;
	z-index:99999;
}

#gdd2011-contentArea h2 {
	font-size:25px;
	font-weight:bold;
	color:#3D351A;
	margin-bottom:25px;
}

#gdd2011-contentArea p {
	color:#6F5726;
	font-size:14px;
	line-height:20px;
	margin-bottom: 20px;
}

p.spacer {
	height:10px;
	margin:20px 0 0 0;
}

#gdd2011-contentArea a {
	background-image:url(../images/layout/link.png);
	background-position:0 3px;
	background-repeat:no-repeat;
	padding:0 0 0 8px;
	display:block;
	color:#2186EF;
	text-decoration:none;
}

#gdd2011-contentArea a.righticon {
	background-position:right 3px;
	padding:0 10px 0 0;
	display:inline;
}

#gdd2011-contentArea a:hover {
	text-decoration:underline;
}

#gdd2011-contentArea.cbase {
	background-image:url(../images/layout/cbase_floorplan.jpg);
	background-repeat:no-repeat;
	background-position:0 400px;
	height:1250px;
}

#gdd2011-page-home-left {
	float:left;
	width:320px;
}

#gdd2011-page-home-right {
	margin-left:370px;
}

#gdd2011-sponsors-boxes {
	margin-bottom:80px;
}

.gdd2011-sponsorbox {
	float:left;
	width:186px;
	height:181px;
}

.gdd2011-page-sponsors-box {
	margin:0 0 45px 0;
}

.gdd2011-page-sponsors-box-left {
	float:left;
	width:330px;
}

.gdd2011-page-sponsors-box-right {
	margin-left:360px;
}

#gdd2011-contentArea .gdd2011-page-sponsors-box-left a,
#gdd2011-contentArea .gdd2011-page-sponsors-box-right h2 a{
	background-image: none;
	padding: 0;
	color: #3D351A;
	display: inline;
}

#gdd2011-contentArea .gdd2011-page-sponsors-box-right a,
#gdd2011-contentArea .gdd2011-schedule-day a{
	display: inline;
}

#gdd2011-cbase-location {
	margin:70px 0 0 0;
}

#gdd2011-cbase-content {
	margin:250px 0 0 350px;
}

#gdd2011-dateArea {
	float:left;
	width:190px;
}

#gdd2011-dateArea h2 {
	margin-left:40px;
}

#gdd2011-dateArea img {
	cursor:pointer;
}

#gdd2011-scheduleArea {
	float:left;
}

.gdd2011-page-schedule-line {
	border-top:2px #FFFFFF solid;
	padding:12px 0;
}

.nolines {
	border:none;
}

.gdd2011-page-schedule-time {
	float:left;
	width:120px;
}

.gdd2011-page-schedule-full {
	float:left;
	width: 575px;
}

.gdd2011-page-schedule-cbase {
	float:left;
	width:335px;
}


.gdd2011-page-schedule-spacer {
	float:left;
	width:55px;
}

.gdd2011-page-schedule-epsylonflyer {
	float:left;
	width:185px;
}

#gdd2011-schedule-day-18,
#gdd2011-schedule-day-19,
#gdd2011-schedule-day-20 {
	display:none;
}

.gdd2011-schedule-day{
	max-width: 700px;
}

	.gdd2011-schedule-day img.teaser{
		float: right;
		margin: 0 0 20px 20px;
	}


/* == CANVAS == */
#doodle_wrapper {
	position:relative;
	width:770px;
	height:501px;
	margin:0 auto;
}

#canvas_wrapper {
	position:absolute;
	top:0px;
	left:50%;
	width:770px;
	height:501px;
	margin:0 0 0 -390px;
	text-align:center;
}

#main_draw{
	width: 100%;
	height: 100%;
}

#gtug-logo{
	position: absolute;
	top: -10000px;
	left: 0;	
}


#surface{
	margin: auto;
	width: auto;
	height: auto;
}

#steampunk-control {
	position:absolute;
	top:519px;
	right:187px;
	width:51px;
	height:51px;
	z-index:10000;
	text-align:right;
	background:transparent;
}
